<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288029868075-1qdo8lld9euq5q4r17ddf7ebnkbg5qvm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288029868075-1qdo8lld9euq5q4r17ddf7ebnkbg5qvm</string>
	<key>API_KEY</key>
	<string>AIzaSyBkqcDkAmIbL6Vm2xpUz-mgk0yGq2iQndc</string>
	<key>GCM_SENDER_ID</key>
	<string>288029868075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.freeWorkoutApps</string>
	<key>PROJECT_ID</key>
	<string>freeworkoutapss</string>
	<key>STORAGE_BUCKET</key>
	<string>freeworkoutapss.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288029868075:ios:17d443842c2de2837c6a6e</string>
</dict>
</plist>